html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: "Lato", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

title {
  text-decoration: none;
  list-style-type: none;

}

body {
  margin: 0;
}

img {
  width: 100%;
  max-width: 25em;
  display: block;
  text-align: center;
}

div {
  display: inline-block;
  max-width: 25em;
  margin-left: 1em;
  margin-right: 1em;
  text-align: left;
}

article {
  padding: 2em;
}

.btn {
  display: inline-block;
  padding: .5em .75em;
  border-radius: 8px;
  border-width: 3px
}

.btn-ghost {
  background-color: #fff;
  color: #333;
  border: solid 3px #333;
}

.btn-ghost:hover {
  background-color: #666;
  color: #fff;
}
